<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>willfixeverything</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

  <body>
    <section>
      <header>
      <h1>
        <span class="thing"><%=@thing%></span> will fix EVERYTHING!
      </h1>
    </section>
  </body>

</html>
